<section class="stats-section">
	<div class="stats-container">
		<div class="stat-part">
			<div class="mini-card"></div>
			<div class="stat-card gradient lg-card">
				<h2 class="text-lg-stat">95%</h2>
				<p>Customer Satisfaction</p>
			</div>
		</div>
		<div class="stat-part">
			<div class="image lg-card">
				<img src="{{ url('theme://images/hero-img1.png') }}" alt="Customer Interaction">
			</div>
			<div class="stat-card gradient mini-card">
				<h2>5K</h2>
				<p>Active Users Everyday</p>
			</div>
		</div>
		<div class="stat-part">
			<div class="stat-card text-bubble mini-card">
				<p>Join 100,000+ happy customers who trust us!</p>
			</div>
			<div class="image md-card">
			
				<img src="{{ url('theme://images/hero-img2.png') }}" alt="Customer Interaction">
			</div>
		</div>
		<div class="stat-part card-4">
			<div class="image lg-card">
				<img src="{{ url('theme://images/hero-img3.png') }}" alt="Team Collaboration">
			</div>
			<div class="image sm-card black-box">
				{# <img src="{{ url('theme://images/hero-img4.png') }}" alt="Team Collaboration"> #}
			</div>
		</div>
		<div class="stat-part">
        		<div class="mini-card"></div>
			<div class="stat-card gradient lg-card">
				<p>Customers from</p>
				<h2 class="text-lg-stat">50+</h2>
				<p>Countries Worldwide</p>
			</div>
		</div>
	</div>
</section>
