<footer class="footer-logo slide-up">
	<div class="container footer-logo-container">
		<div class="footer-logo-top">
			<div class="footer-logo-area">
				{% include 'widgets/logo.html.twig' with { position: 'footer' } %}
				{% set words = data.descriptions[grav.language.getActive].description|split(' ')|slice(0, 25)|join(' ') %}

				<p class="branding-text service-description">{{ words }}...</p>
				{% include 'widgets/footer-card.html.twig' %}
			</div>
			
			{% include 'widgets/footer-link.html.twig' %}
			{% include 'widgets/footer-contact.html.twig' %}
		</div>

	</div>
			{% include 'widgets/footer-copyright.html.twig' %}
</footer>

<style>
	{% include 'partials/custom.css.twig' %}
</style>