{% set navbar_text_color = 'text-primary' %}
{% set navbar_button_style = 'button' %}

<header class="header" id="header">
	<div class="container">
		<div class="dFlex">
			{% include 'widgets/logo.html.twig' with { position: 'header' } %}
		</div>
		{% include 'widgets/menu.html.twig' %}
		{% include 'widgets/header-button.html.twig' %}

	</div>
</header>
