.profile-page {
  .prose.max-w-none.pt-12 {
    background-color: var(--bg-white);
  }

  .btn__simple.my-orders {
    text-decoration: none;
    @include typography(text-lg, semibold);
    background: var(--hero-title);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    text-align: center;
    width: 100%;
    border-radius: 32px;
    border-image: var(--color-primary);
    border-image-slice: 1;
    padding: 16px 32px;
    margin-bottom: 42px;
    position: relative;
    svg{
      color:  #5458D7;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 2px; /* Border thickness */
      border-radius: 32px; /* Ensure rounded borders */
      background: var(--color-primary);
      -webkit-mask: 
          linear-gradient(white 0 0) content-box, 
          linear-gradient(white 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: 2;
  }

    @include desktop-small {
      width: 100%;
      display: block;
    }

    svg {
      vertical-align: middle;
      margin-top: -4px;
    }
  }

  .content-section-profile {
    display: flex;
    gap: 4rem;
    // background: var(--bg-body) !important;
    color: var(--profile-text);
    padding-bottom: 5rem;

    @include desktop-small {
      flex-direction: column;
      padding: 64px 16px;
      gap: 2rem;
    }

    .paragraph-column {
      border-radius: 32px;
      margin-top: 80px;
      background-color: var(--color-secondary);
      color: var(--color-white);
      .form-field input, .form-field textarea {
        border: 1px solid #98A2B3;
        border-radius: var(--border-radius);
      }

      @include desktop-small {
        width: 100%;
      }

      .form-field{
        margin-bottom: 24px;
        &:nth-child(3){
          clear: both;
        }
      }

      label{
        @include typography(base, semibold);
      }

      label.error{
        bottom: 0;
      }

      input, textarea{
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid var(--color-text-light, #8F8F8F);
        border-radius: 0 !important;
        color: var(--color-text-dark, #1F1F1F);
        padding: 12px 0;
        margin: 0;

        &:focus{
          outline: none;
          border-radius: 0;
        }
        ::placeholder {
          color: var(--color-text-light, #8F8F8F);
        }
      }

      &:first-child {
        padding: 42px;

        @include mobile{
          padding: 32px 16px;
        }

        .form-field{
          &:nth-child(1){
            width: 47%;
            float: left;
            margin-right: 6%;

            @include mobile{
              width: 100%;
              float: unset;
              margin-right: 0;
            }
          }
          &:nth-child(2){
            width: 47%;
            float: right;

            @include mobile{
              width: 100%;
              float: unset;
            }
          }
        }
      }
      &:last-child {
        padding: 64px;
        margin-bottom: 0;

        @include mobile {
          padding: 32px 16px;
        }


      }

      h2 {
        color: var(--color-white);
        margin-bottom: 32px;
        @include typography(display-md, medium);
        letter-spacing: -0.96px;
        @include mobile {
          @include typography(display-sm, medium);
        }
      }

      .form-actions {
        margin-top: 35px;
        justify-content: space-between;
        gap: 2rem;
        flex-direction: row-reverse;

        @include mobile {
          flex-direction: column-reverse;
          gap: 20px;
          text-align: center;
        }

        .button, button {
          width: 100%;
          display: inline-block;
          background: var(--color-primary);
          color: var(--color-white);
          padding: 16px 4px;
          @include typography(text-lg, semibold);
          text-align: center;
          border-radius: 18px;
          border: none;
        }
      }
    }
    .danger{
      border-radius: 32px;
      border: 1px solid #FF3131 !important;
      background: #FF3131 !important;
    }

    .form-field input, .form-field textarea {
      border: 1px solid #98A2B3;
      border-radius: var(--border-radius);
      box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
  }
}