.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  // border-bottom: 1px solid var(--color-primary-light);
  padding: 1.125rem 0;
  background: var(--panel-header-bg) !important;
  z-index: 99;
  font-family: "Helvetica Neue";

  .signup {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    border: 2px solid var(--color-primary, #5458D7);
  }


  @include desktop-small {
    position: fixed;
    z-index: 3;
    padding: 0.85rem 1rem;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include padding(padding-lg);

    @include desktop-small {
      padding: 0;
      // @include padding(padding-sm);

    }

    display: flex;

    .logo {
      display: flex;
      align-items: center;
      height: 60px;
      width: 58px;

      a {
        img {
          height: auto;
          max-width: 200px;
          display: flex;
          align-items: center;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background: var(--color-white);
      border-radius: 50px;
      padding: 14px 64px;
      width: 100%;
      margin: 0 3rem;
      justify-content: center;

      @include desktop-small {
        display: none;
      }

      .menu-item {
        display: flex;
        padding: 0.25rem 1.5rem;
        justify-content: center;
        align-items: center;


        .menu-item__link {
          // font-weight: 600;
          text-decoration: none;
          @include typography(text-md, semibold);
          color: var(--panel-header-text);

          font-weight: 400;
          line-height: 24px;

          transition: all .3s ease-in-out;

          /* 150% */
          &:hover {
            transform: translateY(-0.15rem);
            color: var(--color-primary);
          }
        }

        &.active {
          padding: 8px 32px;
          justify-content: center;
          align-items: center;
          gap: 10px;
          border-radius: 32px;
          color: var(--color-text-light);
          background: var(--color-primary);
        }
      }
    }


    .header-buttons {
      display: flex;
      align-items: center;
      gap: 1rem;

      @include desktop-small {
        gap: 0;
      }

      .btn {
        background: var(--bg-button);
        color: var(--color-white);

        padding: 10px 20px;

        @include desktop-small {
          display: none;
        }

        @include typography(text-md, semibold);

      }

      .signup {
        background: var(--color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        padding: 12px 24px;
        border-radius: 40px;
    
        /* Gradient border */
        border: 1px solid #5458D7; 
        // border-image: var(--color-primary);
        // border-image-slice: 1;
        min-width: 108px;

        position: relative;
        display: inline-block;
      }

      .language-switcher {
        border-radius: 4px;
        // border: 0.5px solid var(--border-lang-switcher);
        padding: 3px 9px;
        color: var(--color-lang-switcher);

        svg {
          path {
            fill: var(--color-lang-switcher);
          }
        }

        @include typography(text-sm, regular);

        .lang-flag {
          width: 27px;
          height: auto;
        }
      }

      .cheeseburger-menu__close {
        display: none;
        width: 100%;
        justify-content: flex-end;
        height: 40px;
        width: 40px;
        align-items: center;

        span {
          background-image: url(../../images/close.svg);
          background-repeat: no-repeat;
          background-size: 24px;
          height: 24px;
          width: 24px;
          filter: invert(1);
        }
      }
    }


  }
}


/* ============  Menu ============ */
.lang-flag {
  width: 27px;
  height: auto;
}

// [type="checkbox"]:checked,
// [type="checkbox"]:not(:checked) {
//   position: absolute;
//   left: -9999px;
// }


.menu-icon:checked+label,
.menu-icon:not(:checked)+label {
  position: fixed;
  top: 23px;
  right: 19px;
  display: block;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  cursor: pointer;
  z-index: 100;

  @include desktop-small {
    top: 38px;
    right: 48px;
  }
}

.menu-icon:checked+label:before,
.menu-icon:not(:checked)+label:before {
  position: absolute;
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  z-index: 20;
  top: 0;
  left: 0;
  border-top: 2px solid var(--color-black);
  border-bottom: 2px solid var(--color-black);
  transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after,
.menu-icon:not(:checked)+label:after {
  position: absolute;
  content: '';
  display: block;
  width: 22px;
  height: 2px;
  z-index: 20;
  top: 10px;
  right: 4px;
  background-color: var(--color-black);
  margin-top: -1px;
  transition: width 100ms 1750ms ease,
    right 100ms 1750ms ease,
    margin-top 100ms ease,
    transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:before {
  top: 10px;
  transform: rotate(45deg);
  height: 2px;
  background-color: var(--color-black);
  border-width: 0;
  transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked+label:after {
  width: 30px;
  margin-top: 0;
  right: 0;
  transform: rotate(-45deg);
  transition: width 100ms ease,
    right 100ms ease,
    margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked .menu-toggle {
  display: none !important;
}

.nav {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  z-index: 9;
  overflow: hidden;
  background-color: var(--bg-body);
  animation: border-transform 7s linear infinite;
  transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);

  @include desktop-small {
    top: 20%;
    right: 30px;
  }
}

@keyframes border-transform {

  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }

  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }

  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }

  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }

  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }

  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }

  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

.menu-icon:checked~.nav {
  animation-play-state: paused;
  animation: none;
  background: var(--color-white);
  top: 0%;
  right: 0%;
  // transform: translate(50%, -50%);
  z-index: 99;
  width: 100%;
  height: 100dvh;
  transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav ul {
  position: absolute;
  top: 0%;
  left: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 102;
  text-align: center;
  // transform: translateY(-50%);
  list-style: none;
}

.nav ul li {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  text-align: center;
  list-style: none;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 250ms linear;
}

.nav ul li:nth-child(1) {
  transition-delay: 200ms;
}

.nav ul li:nth-child(2) {
  transition-delay: 150ms;
}

.nav ul li:nth-child(3) {
  transition-delay: 100ms;
}

.nav ul li:nth-child(4) {
  transition-delay: 50ms;
}

.nav ul li a {

  @include typography('display-xl', bold);

  display: inline-block;
  position: relative;
  color: var(--color-text-dark);
  transition: all 250ms linear;
  text-decoration: none;

  @include desktop-small {
    @include typography('display-sm', bold);
  }
}

.nav ul li a:hover {
  text-decoration: none;
  color: var(--color-primary);
}

.nav ul li a:after {
  display: block;
  position: absolute;
  top: 70%;
  content: '';
  height: 1vh;
  margin-top: -1vh;
  width: 0;
  left: 0;
  background-color: var(--color-primary-light);
  opacity: 0.8;
  transition: width 250ms linear;
}

.nav ul li a:hover:after {
  width: 100%;
}


.menu-icon:checked~.nav ul li {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 350ms ease,
    transform 250ms ease;
}

.menu-icon:checked~.nav ul li:nth-child(1) {
  transition-delay: 1400ms;
}

.menu-icon:checked~.nav ul li:nth-child(2) {
  transition-delay: 1480ms;
}

.menu-icon:checked~.nav ul li:nth-child(3) {
  transition-delay: 1560ms;
}

.menu-icon:checked~.nav ul li:nth-child(4) {
  transition-delay: 1640ms;
}

.hide {
  display: none;
}

.show {
  display: block;
}

/* ============ End Menu ============ */