  .about-company-wrapper{

    .contents-wrapper{
      padding: 5rem 0;

      @include desktop-small{
        padding: 4rem 0;
      }

      .header-content{
        text-align: center;

        h3 {
          @include typography(display-lg, bold);
          
          @include desktop-small {
            @include typography(display-md, bold);
          }
          color: var(--color-container-title);
          padding-top: 20px;
          padding-left: 16px;
          padding-right: 16px;
        }

        h4{
          color: var(--color-about-company-sub-title);
          position: relative;
          display: inline;
          line-height: 28px; /* 155.556% */
          @include typography(text-lg, semibold);
          @include desktop-small {
            @include typography(text-md, semibold);
          }
        }

        h4::before{
          content: " ";
          position: absolute;
          height: 3px;
          width: 20px;
          left: -38px;
          top: 50%;
          background: var(--color-about-company-sub-title);
        }
      }

      .text_left{
        flex-direction: row;

        @include desktop-small {
          flex-direction: column-reverse;
        }
      
      }
      .text_right {
        flex-direction: row-reverse;

        @include desktop-small {
          flex-direction: column-reverse;
        }
      } 

      .company-contents{
        display: flex;
        align-items: center;
        gap: 3rem;
        padding-top: 4rem;
        @include padding(padding-lg);
        justify-content: space-between;

        @include desktop-small {
          padding: 4rem 1rem 0;
          justify-content: center;
        }

        .contents{
          flex-basis: 50%;
          color: var(--text-text);

          .content-title {
            padding-bottom: 42px;
          }
          /*------ Random icon------*/
          .random-icon-list-group { 
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .list-item {
              display: flex;
              flex-direction: column;
              gap: 2rem;
             
              .list-header {
                display: flex;
                gap: 1.5rem;
                align-items: center;

                .title {
                  color: var(--color-primary);
                  @include typography('display-sm', bold);
                }
              }

              .list-content {
                p {
                  @include typography('text-xl', regular);
                }
              }
            }
          }

          /*------End Random icon------*/

          /*------ Same icon------*/
          .same-icon-list-group { 
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            .list-item {
              display: flex;
              flex-direction: column;
              gap: 12px;
             
              .list-header {
                display: flex;
                gap: 1.125rem;
                align-items: center;

                .title {
                  color: var(--color-primary);
                  @include typography('display-xs', bold);
                }
              }

              .list-content {
                p {
                  @include typography('text-xl', regular);
                }
              }
            }
          }

          /*------End same icon------*/

          

          .button {
            align-self: flex-start;
            display: flex;
            align-items: center;
            border-radius: 0px 18px;
            border: 1px solid var(--color-primary);
            padding: 16px 28px;
            font-size: 1.125rem;
            line-height: 1.75rem;
            letter-spacing: normal;
            font-weight: 600;
            background: var(--color-primary);
            color: var(--color-hero-button);
            width: fit-content;
            margin-top: 2rem
          }

          p, li {
            @include typography(text-lg, regular);
          }
    
          li {
            @include typography(text-lg, regular);
          }
        }

        .image{
          flex-basis: 50%;
          text-align: center;

          img{
            width: 100%;
            
          }
        }
      }
    }
}