.features {
  display: flex;
  padding: 5rem 0;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  align-self: stretch;
  background-color: var(--feature-bg-container);
  position: relative;

  @include desktop-small {
    padding: 4rem 0;
    row-gap: 1.5rem;
  }

  .container {
    @include padding(padding-lg);

    @include desktop-small {
      @include padding(padding-sm);
    }
  }

  .features-header-section {
    text-align: center;
    max-width: 910px;
    margin: 0 auto 32px auto;

    @include desktop-small {
      width: 100%;
      margin: 0 auto 18px auto;
    }

    .block-title {
      @include typography(display-lg, bold);
      opacity: 0;
      color: var(--color-section-title);
      margin-bottom: 24px;

      @include desktop-small {
        @include typography(display-md, bold);
      }
    }

    .features-section-description {
      opacity: 0;
      p {
        @include typography(text-xl, normal);
      }
    }
  }

  .features-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
    background: var(--feature-bg-container);
    overflow: hidden;
    width: 100%;

    padding-left: 60px;
    padding-right: 60px;

    @include desktop-small {
      padding-left: 36px;
      padding-right: 36px;
    }

    @include tablet {
      flex-direction: column;
      padding-left: 16px;
      padding-right: 16px;
    }

    .feature-slider-controls {
      @include tablet{
        display: none;
      }

      display: flex;
      justify-content: space-between;
      width: 100%;
      max-width: 1216px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;

      @include desktop-small{
        max-width: calc(1024px - 32px);
      }

      .control-left,
      .control-right {
        display: flex;
        width: 48px;
        height: 47.352px;
        justify-content: center;
        align-items: center;
        background: var(--color-white, #fff);
        box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.09);
        border-radius: 8px;
        cursor: pointer;
        transition: background 0.3s ease;
        opacity: 0;

        &:hover {
          //background: rgba(0, 0, 0, 0.8);
        }
      }

      .control-left {
        left: 20px;
      }

      .control-right {
        right: 20px;
      }
    }

    .feature-slider-wrapper {
      width: 100%;
      overflow: hidden;
      border-radius: 8px;

      .feature-track {
        display: flex;
        gap: 1.5rem;
        transition: transform 0.5s ease-in-out;
        border-radius: 8px;

        .feature {
          flex: 0 0 calc(100% / 3 - 1rem);
          display: flex;
          align-items: flex-start;
          gap: 1.5rem;
          cursor: pointer;
          border-radius: 8px;
          align-self: stretch;
          opacity: 0;
          transition: transform 0.3s ease;

          &:hover .feature-image img {
            transform: scale(1.05);
          }

          @include desktop-small {
            width: 100%;
            flex: 0 0 calc(100% / 2 - 1rem);
          }

          @include tablet {
            flex: 0 0 100%;
          }

          .feature-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            position: relative;

            @include desktop-small {
              flex-direction: column;
              align-items: center;
              width: 100%;
            }

            .feature-image {
              overflow: hidden;
              border-radius: 8px;

              @include desktop-small {
                width: 100%;
              }

              img {
                width: 100%;
                height: 100%;
              }
            }

            .feature-content {
              padding: 1.5rem 1rem;
              display: flex;
              flex-direction: column;
              gap: 16px;
              justify-content: center;
              align-items: center;
              text-align: center;
              position: absolute;
              left: 0;
              bottom: 30px;
              width: 100%;

              @include desktop-small{
                padding: 1.5rem;
              }

              .feature-title {
                @include typography(display-sm, bold);
                line-height: 38px;
                color: var(--feature-text);
              }

              .feature-description {
                @include typography(text-lg, normal);
                color: var(--feature-text);
              }
            }
          }
        }
      }
    }
  }
  .feature-slider-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;

    .bullet {
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: var(--bg-body); // Inactive bullets
      transition: background 0.3s ease;
      cursor: pointer;

      &.active {
        background: var(--color-primary); // Active bullet
      }
    }
  }
}
